{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
    <a href="/create/">Написать пост</a>
    {% for post in posts %}
    {% if post.is_published is True %}
        <div class="container">
            <div class="row text-center">
                <div class="col-3">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h1 class="my-0 font-weight-normal">{{post.title}}</h1>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                                <li>- posted {{post.date}}</li>
                                <li>- {{post.views}} views</li>


                            </ul>
                            <a class="text-muted" href="{{ post.slug }}">Открыть</a>
                            <a class="text-muted" href="edit/{{ post.slug }}">Отредактировать</a>
                            <a class="text-muted" href="delete/{{ post.slug }}">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% endfor %}
{% endblock %}